---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	{% assign author = site.data.authors[page.author] %}
	<header class="post-header">
		<!-- Title -->
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<!-- Post info -->
		<p class="post-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
			{% if page.author %}
					• <span itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name">
							{{ site.data.i18n [page.lang].written_by | capitalize }}:
							<a rel="author"
								href="https://github.com/{{ author.github }}"
								title="{{ author.name }}">
								{{ author.name }}
							</a>
						</span>
					</span>
			{% endif %}
		</p>


		{% assign url = "/categories/" | prepend: site.baseurl %}
		{% if page.lang != site.default_lang %}
			{% assign url = url | prepend: page.lang | prepend: "/" %}
		{% endif %}
		<!-- Categories -->
		<ul class="category-list">
			{% for categ in page.categories %}
				<li>
					<a href="{{ url }}#{{ categ }}">
						{{ categ }}
					</a>
				</li>
			{% endfor %}
		</ul>

	</header>

	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

</article>
